@font-face {
  font-family: Lato-Light;
  /* Гарнитура шрифта */
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Regular;
  /* Гарнитура шрифта */
  src: url(../fonts/Lato-Regular.ttf);
}
* {
  box-sizing: border-box;
}
h2 {
  font-family: Lato-Light;
  font-size: 14px;
  margin-top: 5px;
  display: inline-block;
  margin-bottom: 10px;
}
.all-home {
  height: 20px;
}
.all-home a {
  text-decoration: none;
  color: black;
}
.all-home a:visited {
  color: black;
}
.all-home a:active {
  color: black;
}
main {
  height: max-content;
  min-height: 550px;
  width: 100%;
  align-items: stretch;
  justify-content: center;
}
main .options {
  margin-left: 20px;
}
main .options img {
  margin-bottom: -2px;
}
main .options .container {
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.5);
  padding: 35px 28px;
  width: 272px;
  height: 363px;
}
main .options .container .items .item {
  position: relative;
  height: 18px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: Lato-Regular;
  font-size: 14px;
}
main .options .container .items .item:last-child {
  margin-bottom: 0px;
}
main .options .container .bud_count {
  font-family: Lato-Regular;
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
}
main .options .container .bud_count span {
  font-family: Lato-Regular;
  font-size: 18px;
}
main .options .container button {
  background-color: #004A83;
  border: 0px;
  border-radius: 13px;
  width: 218px;
  height: 29.216px;
  color: white;
}
main .main {
  height: max-content;
  min-height: 363px;
  margin-left: 20px;
  margin-top: 20px;
}
main .main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
main .main .container .bud-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: max-content;
  margin-bottom: 20px;
}
main .main .container .bud-images .bigImages .imagesApartment img {
  width: 300px;
  height: 350px;
}
main .main .container .bud-images .smallImages .imagesApartment img {
  width: 100px;
  height: 100px;
}
main .main .container .bud-images .bud-col {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Lato-Regular;
  font-size: 12px;
}
main .main .container .bud-images .bud-col a {
  text-decoration: none;
  color: #0080CE;
}
main .main .container .bud-images .bud-col a:visited {
  color: #0080CE;
}
main .main .container .bud-images .bud-col a:active {
  color: #0080CE;
}
main .main .container .bud-images .bud-col:last-child img:last-child {
  flex-grow: 2;
}
main .main .container .bud-images .more-photo {
  position: relative;
  height: 75px;
  width: 78px;
  background-color: rgba(143, 143, 143, 0.71);
  text-align: center;
}
main .main .container .bud-images .more-photo a {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  display: inline-block;
  margin: auto;
  font-size: 10px;
}
main .main .container .dop-info {
  font-family: Lato-Light;
  font-size: 14px;
}
main .main .container .dop-info2 {
  display: none;
}
@media (max-width: 1000px) {
  main .main .container .bud-images .smallImages .imagesApartment img {
    width: 100%;
    height: max-content;
  }
  main .main .container .bud-images .bigImages .more-photo {
    width: 264px;
    height: 300px;
  }
  main .main .container .bud-images .bigImages .more-photo a {
    font-size: 30px;
  }
  main .main .container .bud-images .bigImages .imagesApartment img {
    width: 100%;
    height: max-content;
  }
  main .main .container .bud-images .imagesApartment {
    margin-bottom: 15px;
  }
}
