@font-face {
  font-family: Lato-Light;
  /* Гарнитура шрифта */
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Regular;
  /* Гарнитура шрифта */
  src: url(../fonts/Lato-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0;
}
body {
  max-width: 2000px;
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  min-width: 350px;
}
img {
  margin: 0px;
}
header {
  position: relative;
  background-color: #0080CE;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 65px;
  z-index: 10;
}
header .logo {
  margin-top: 15px;
  height: 31px;
}
header .obertka-mobile {
  width: 151px;
  height: 54px;
  position: relative;
}
header .obertka-mobile .image-phone {
  float: left;
  margin-top: 18px;
}
header .obertka-mobile .number-phone {
  float: left;
  margin-left: 3px;
  margin-top: 28px;
  font-family: Lato-Regular;
  font-size: 14px;
  color: #E89900;
}
header .enter-user {
  width: 190px;
  height: 26px;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
}
header .enter-user .button-header {
  font-family: Lato-Regular;
  font-size: 12px;
  color: white;
  width: 82.5px;
  height: 23px;
  background-color: #166FB2;
  border: 1px solid white;
  border-radius: 11px;
}
.logo-text {
  display: inline-block;
  font-family: Lato-Regular;
  font-size: 24px;
  color: #E89900;
}
.logo-text:last-child {
  color: #00F8F2;
}
.image1 {
  position: relative;
  padding: 100px 0;
  margin: 0;
  background: url("../images/img1.png") no-repeat center;
  background-size: cover;
  height: max-content;
}
.image1 .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.image1 .content .title {
  display: block;
  width: 100%;
  font-family: Lato-Regular;
  font-size: 21.75px;
  color: white;
  text-align: center;
  margin-bottom: 100px;
}
.sign_up {
  position: relative;
  background: url(../images/obl_enter.png);
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 15px;
}
.sign_up .row {
  padding: 5px;
}
.sign_up .row .col {
  margin-bottom: 10px;
}
.sign_up input[type="text"] {
  padding: 6px;
  color: gray;
  border-radius: 6px;
  border: 0px;
  font-family: Lato-Light;
  font-size: 15.03px;
}
.sign_up .usrFirstName {
  min-width: 115.181px;
  height: 28.84px;
}
.sign_up .usrSecondName {
  width: 100%;
  min-width: 160px;
  height: 29.375px;
}
.sign_up .button-enter {
  font-family: Lato-Light;
  font-size: 12px;
  padding: 0px 8px;
  height: 29.375px;
  background-color: #0A9D0A;
  color: white;
  border-radius: 11px;
  border: 1px solid white;
}
.sign_up label {
  font-family: Lato-Regular;
  font-size: 10.22px;
  color: white;
}
.image2 {
  position: relative;
  background: url("../images/img2white.png") no-repeat center;
  background-size: cover;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 25%;
}
.image2 .img2Logo {
  height: 47px;
  position: relative;
}
.image2 .img2Logo #img2LogoText {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 66px;
  font-size: 22.99px;
}
.image2 .img2Posit {
  width: 424.965px;
  min-width: 250px;
  height: 436.792px;
  background-image: url(../images/fordiv.png);
  border-radius: 6px;
  border: 0px;
  padding: 17px 20px;
  margin-bottom: 50px;
}
.image2 .img2Posit .img2Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  margin-top: 20px;
}
.image2 .img2Posit .img2Content .items {
  height: max-content;
}
.image2 .img2Posit .img2Content .items img {
  float: left;
}
.image2 .img2Posit .img2Content .items .img2Posit-header {
  font-family: Lato-Regular;
  font-size: 26.82px;
  color: #D59916;
  margin-left: 66px;
}
.image2 .img2Posit .img2Content .items .img2Posit-discription {
  font-family: Lato-Regular;
  font-size: 10.22px;
  color: black;
  margin-left: 66px;
  margin-top: 5px;
}
.image2 .img2Fact {
  min-width: 250px;
  width: 310.11px;
  height: 436.792px;
  background-image: url(../images/fordiv.png);
  border-radius: 6px;
  border: 0px;
  padding: 17px 20px;
}
.image2 .img2Fact .img2Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  margin-top: 20px;
}
.image2 .img2Fact .img2Content hr {
  display: block;
  height: 1px;
  background-color: black;
  width: 100%;
}
.image2 .img2Fact .img2Content .items {
  height: 75px;
}
.image2 .img2Fact .img2Content .items img {
  float: right;
}
.image2 .img2Fact .img2Content .items .img2Fact-header {
  font-family: Lato-Regular;
  font-size: 22.99px;
  color: #3ABAA5;
}
.image2 .img2Fact .img2Content .items .img2Fact-discription {
  font-family: Lato-Light;
  font-size: 12.77px;
  margin-top: 5px;
  margin-left: 25px;
}
.image2 .img2Fact .logo-text {
  color: #E89900;
}
.sign_up2 {
  width: 100%;
  background-color: #166FB2;
  padding: 0px 25%;
}
.sign_up2 .sign_up {
  position: relative;
  background: none;
  margin: auto;
}
.image3 {
  position: relative;
  background: url("../images/img3white.png") no-repeat center;
  background-size: cover;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 25%;
}
.image3 .obertka-formula {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  font-family: Lato-Regular;
  font-size: 20.82px;
  color: white;
}
.image3 .obertka-formula .plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  width: 0px;
}
.image3 .obertka-formula .plus div {
  margin-left: -25px;
}
.image3 .obertka-formula .header {
  height: 53px;
  margin: auto;
  width: max-content;
}
.image3 .obertka-formula .header strong {
  font-size: 21px;
}
.image3 .obertka-formula .signs {
  position: absolute;
  top: 109px;
  left: 167px;
  width: 434px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.image3 .obertka-formula .formula1 {
  position: relative;
  background-color: #F6A843;
  height: 218.396px;
  padding: 25px;
  min-width: 180px;
  flex-grow: 2;
}
.image3 .obertka-formula .formula1 #img3_1 {
  position: absolute;
  left: 23px;
  top: 85px;
}
.image3 .obertka-formula .formula1 #img3_2 {
  position: absolute;
  left: 85px;
  top: 121px;
}
.image3 .obertka-formula .formula2 {
  position: relative;
  background-color: #E66DF4;
  height: 218.396px;
  padding: 25px;
  min-width: 180px;
  flex-grow: 2;
}
.image3 .obertka-formula .formula2 #img3_3 {
  position: absolute;
  left: 48px;
  top: 90px;
}
.image3 .obertka-formula .formula3 {
  position: relative;
  background-color: #26C644;
  height: 218.396px;
  padding: 25px;
  min-width: 180px;
  flex-grow: 2;
}
.image3 .obertka-formula .formula3 #img3_4 {
  position: absolute;
  left: 49px;
  top: 93px;
}
.image3 .obertka-formula .formula4 {
  position: relative;
  background-color: #82ACF6;
  height: 218.396px;
  padding: 25px;
  min-width: 180px;
  flex-grow: 2;
}
.image3 .obertka-formula .formula4 #img3_5 {
  position: absolute;
  left: 46px;
  top: 90px;
}
.quest {
  font-family: Lato-Regular;
  font-size: 26.85px;
  width: 100%;
  text-overflow: ellipsis;
  text-align: center;
  background-color: #0C4B81;
  color: white;
  padding: 50px 25%;
}
.image4 {
  position: relative;
  background: url("../images/img4white.png") no-repeat center;
  background-size: cover;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 25%;
}
.image4 .info {
  width: max-content;
  margin-bottom: 100px;
}
.image4 .info .line {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.image4 .info .line:nth-child(2n) {
  justify-content: flex-end;
}
.image4 .info .line span {
  font-size: 20px;
}
.image4 .info .line .img1 {
  height: 202px;
}
.image4 .info .line .img1 img {
  margin-left: 61px;
}
.image4 .info .line .arrow {
  margin-left: 95px;
  margin-top: 64px;
  transform: rotate(-90deg);
}
.image4 .info .line .arrow2 {
  margin-top: 22px;
  margin-right: 100px;
}
.image4 .info .line .arrow3 {
  margin-top: 64px;
  margin-right: 50px;
  transform: rotate(90deg);
}
.image4 .info .line .img2 {
  margin-left: 26px;
}
.image4 .info .line .img2 img {
  margin-left: 54px;
}
.image4 .info .line .img3 {
  clear: right;
  float: right;
  margin-right: 100px;
}
.image4 .info .line .img3 img {
  margin-left: 61px;
}
.image4 .info .line .img4 img {
  margin-left: 61px;
}
.image5 {
  background-color: #D0D0D0;
  padding: 100px 25%;
}
.image5 .col {
  margin-bottom: 10px;
}
.image5 .items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.image5 .items .header {
  font-family: Lato-Regular;
  font-size: 22px;
}
.image5 .items .content {
  font-family: Lato-Regular;
  font-size: 15.88px;
}
.image5 .items .img {
  margin-right: 20px;
}
.image6 {
  font-family: Lato-Regular;
  font-size: 26px;
  padding: 50px 25%;
  text-align: center;
  background-color: #315368;
  color: #FF9C00;
}
.image6 .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image6 .content img {
  margin: 25px;
}
footer {
  position: relative;
  background-color: #004A83;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 50px 25%;
}
footer .logo {
  margin-top: 19px;
  margin-right: 15px;
}
footer .logo .logo-text {
  font-family: Lato-Regular;
  font-size: 21.7px;
  color: #E89900;
}
footer .logo .logo-text:last-child {
  color: #00F8F2;
}
footer .logo #copyright {
  margin-top: 47px;
  font-family: Lato-Regular;
  font-size: 15px;
}
footer .map {
  font-family: Lato-Regular;
  height: 133px;
  width: 100px;
  margin: auto;
}
footer .map a {
  text-decoration: none;
  color: white;
}
footer .map a:visited {
  color: white;
}
footer .map a:active {
  color: white;
}
footer .map ul {
  margin: 0px;
  margin-top: 27px;
  padding: 0px;
}
footer .map ul li {
  list-style-type: none;
  margin-bottom: 9px;
}
footer .map ul li a {
  font-size: 12px;
}
footer .map ul li:first-child {
  font-size: 12px;
}
footer .feedback {
  font-family: Lato-Regular;
  font-size: 15px;
  color: white;
  margin-top: 27px;
}
footer .feedback span {
  font-size: 10px;
}
footer #number-feedback {
  margin-top: 12px;
  font-family: Lato-Light;
  font-size: 8.54px;
  padding: 4px;
  border-radius: 6px;
  width: 106.619px;
  height: 20px;
}
footer #button-feedback {
  margin-top: 12px;
  margin-left: 7px;
  font-family: Lato-Regular;
  font-size: 7px;
  color: white;
  width: 68.152px;
  height: 20px;
  background-color: #009D00;
  border: 1px solid white;
  border-radius: 9.5px;
}
footer img {
  margin-top: 9px;
  margin-right: 12px;
}
footer .mobileImg {
  margin-top: 0px;
}
footer .year {
  font-family: Lato-Regular;
  font-size: 12px;
  margin-top: 100px;
}
@media (max-width: 1200px) {
  .image5 .row {
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .obertka-mobile {
    display: none;
  }
  .image4 {
    align-items: center;
  }
  .image4 .info {
    margin-bottom: 100px;
  }
  .image4 .info .line {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image4 .info .line .img2 {
    margin: 10px 0;
  }
  .image4 .info .line .img3 {
    margin: 0;
  }
  .image4 .info .line .arrow {
    margin: 0;
    width: max-content;
  }
  .image4 .info .line .arrow img {
    transform: rotate(90deg);
  }
  .image4 .info .line .arrow2 {
    margin: 10px 0;
  }
  .image4 .info .line .arrow3 {
    margin: 0px;
    width: max-content;
  }
  .image4 .info .line .arrow3 img {
    transform: rotate(-90deg);
  }
}
@media (max-width: 700px) {
  .logo {
    display: none;
  }
  .image3 .obertka-formula {
    flex-direction: column;
  }
  .image3 .obertka-formula .plus {
    height: 0px;
    width: 100%;
    flex-direction: row;
  }
  .image3 .obertka-formula .plus div {
    margin: -25px 0px 0px 0px;
  }
}
